<div class="CalendarPage page">
  <div class="menu-bar">
    <div class="title">{{monthYear}}</div>
    <div class="left-button logo"><div class="symbol"></div></div>
  </div>
  <div class="content">
      <div class="prev button">Prev</div><div class="next button">Next</div>
  </div>

  <div class="left-menu">
      <div class="background"></div>
      <div class="menu-content">
          <div class="title">Crimper v0.1.2</div>
          <div class="description read-only-field">Data entry app for tracking indoor climbing sessions</div>

          <div class="button disabled">Set grade system</div>
          <div class="button disabled">Edit gym locations</div>
          <div class="button disabled">Export data to CSV</div>
          <a href="/deletedb" class="button">Delete all your data</a>
          <a href="http://www.jsyang.ca" class="button">Visit developer's site</div>
      </div>
  </div>
</div>
