.CalendarPage .prev,
.CalendarPage .next {
    display: inline-block;
    width: 50%;
}

.CalendarPage .prev {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.CalendarPage .next {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid white;
    box-sizing: border-box;
}

/** CALENDAR **/

.CalendarPage .calendar .calendar-table {
    margin: auto;
}

.CalendarPage .calendar .calendar-table thead tr:first-child {
    display: none;
}

.CalendarPage .calendar .calendar-table thead tr.subheading th {
    height: 20px;
}

.CalendarPage .calendar .calendar-table tbody tr td {
    width: 50px;
    height: 50px;
    position: relative;
}

.CalendarPage .calendar .calendar-table tbody tr td a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $gray;
    text-decoration: none;
    color: black;
    padding-left: 4px;
    padding-top: 4px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 10px;
}

.CalendarPage .calendar .calendar-table tbody tr td a.today {
    background: rgb(0, 120, 238) !important;
    color: white;
}

.CalendarPage .calendar .calendar-table tbody tr td a.prev-day,
.CalendarPage .calendar .calendar-table tbody tr td a.next-day {
    opacity: 0.25;
}

.CalendarPage .calendar .calendar-table tbody tr:nth-child(2n+1) td a {
    background: rgba(216, 216, 216, 0.5);
}
