<div class="CalendarPage page">
  <div class="menu-bar">
    <div class="title">{{monthYear}}</div>
    <a href="http://jsyang.ca" class="left-button"><div class="symbol"></div></a>
  </div>
  <div class="content">
      <div class="prev button">Prev</div><div class="next button">Next</div>
  </div>
</div>
