.CheckInPage .location {
    .label {
        background-image: url('/assets/emoji_u1f30d.svg');
    }
}

.CheckInPage .time {
    .label {
        background-image: url('/assets/emoji_u1f55c.svg');
    }
}

.CheckInPage .feeling-note {
    .label {
        background-color: transparent;
        background-size: cover;
    }

    .label[data-value=""] {
        outline: 2px dashed $blue;
    }

    .label[data-value=""]::after {
        color: $blue;
        content: "+";
    }

    input {
        position: absolute;
        display: block;
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
        width: calc(100% - 50px);
    }
}
