<div class="DayPage page">
  <div class="menu-bar">
    <div class="title">{{dateString}}</div>
    <a href="/" class="back left-button"><div class="logo"></div></a>
  </div>

  <div class="content">
    <a href="{{ route }}/in" class="check-in button">Check in</a>
    <a href="{{ route }}/out" class="check-out button">Check out</a>
    <a href="{{ route }}/log" class="log-attempt button">Log a route attempt</a>
    <div class="graph">Insert ATTEMPT GRAPHS here</div>
  </div>

</div>
