.DayPage {
    .check-in-tip {
        color: $grayL1;
    }

    .content {
        .climb-header {
            line-height: 40px;
            height: 40px;

            .wins {
                position: absolute;
                left: 70px;
            }

            .losses {
                position: absolute;
                right: 20px;
                text-align: right;
            }
        }
    }

    .right-menu {
        .left-hint {
            height: 20px;
            line-height: 20px;
            position: relative;
            margin-bottom: 10px;
            background-color: white;
            padding: 5px;

            .bar {
                position: absolute;
                left: 40px;
                right: 5px;
                height: 20px;
                top: 5px;
                background-color: black;
            }

            .bar::before {
                display: block;
                content: 'Tap here';
                font-size: 10px;
                color: white;
                position: absolute;
                left: 0;
                text-align: center;
                right: 50%;
                height: 20px;
                top: 0;
                background-color: $blue;
                -webkit-animation: opacityFlash 2s infinite ease;
                animation: opacityFlash 2s infinite ease;
            }
        }

        .left-hint::before {
            content: '5.11b';
            font-size: 10px;
        }

        .right-hint {
            @extend .left-hint;
            margin-top: 20px;

            .bar::before {
                right: 0;
                left: 50%;
            }
        }

        .right-hint::before {
            content: '5.11b';
            font-size: 10px;
        }

        .name-hint {
            @extend .left-hint;
            margin-top: 20px;

            .bar::before {
                display: block;
                content: '';
                position: absolute;
                left: 0;
                right: 20%;
                height: 20px;
                top: 0;
                background-color: $orange;
                -webkit-animation: none;
                animation: none;
            }
        }

        .name-hint::before {
            content: 'V5';
            font-size: 10px;
            color: white;
            background-color: $blue;
            -webkit-animation: opacityFlash 2s infinite ease;
            animation: opacityFlash 2s infinite ease;
        }
    }
}

@-webkit-keyframes opacityFlash {
    0% {
        opacity: 0.1;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes opacityFlash {
    0% {
        opacity: 0.1;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}
