@import "normalize";

$blue : rgb(0, 120, 238);
$darkBlue : rgb(55, 66, 111);
$orange : rgba(238, 118, 0, 1);
$blackL1 : rgba(0, 0, 0, 0.1);
$blackL5 : rgba(0, 0, 0, 0.5);
$offWhite : rgba(245, 250, 237, 1);

$gray : rgb(216, 216, 216);
$grayL1 : rgb(120, 120, 120);

body {
    background-color: $offWhite;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(/assets/Lato_ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(/assets/Lato.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    font-family: 'Lato', sans-serif;
}

@import "view/widget/page";
@import "view/widget/loader";
@import "view/widget/button";
@import "view/widget/select-button";
@import "view/widget/select-dropdown";
@import "view/widget/read-only-field";
@import "view/widget/menubar";
@import "view/widget/EmojiPicker";
@import "view/widget/ClimbEntry";

@import "view/CalendarPage";
@import "view/CheckInPage";
@import "view/CheckOutPage";
@import "view/DayPage";
