@import "normalize";

$blue : rgb(0, 120, 238);
$darkBlue : rgb(55, 66, 111);
$orange : rgba(238, 118, 0, 1);
$blackL1 : rgba(0, 0, 0, 0.1);
$blackL5 : rgba(0, 0, 0, 0.5);
$offWhite : rgba(245, 250, 237, 1);

$gray : rgb(216, 216, 216);
$grayL1 : rgb(120, 120, 120);

body {
    background-color: $offWhite;
    overflow: hidden;
}

* {
    font-family: 'Lato', sans-serif;
}

@import "view/widget/page";
@import "view/widget/loader";
@import "view/widget/button";
@import "view/widget/select-button";
@import "view/widget/select-dropdown";
@import "view/widget/read-only-field";
@import "view/widget/menubar";
@import "view/widget/EmojiPicker";

@import "view/CalendarPage";
@import "view/CheckInPage";
@import "view/CheckoutPage";
@import "view/DayPage";
